@font-face {
    font-family: 'Pondar';
    src: url('PondarRegular.woff2') format('woff2'),
        url('PondarRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

